*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Winky Sans", sans-serif;
    font-weight: 700;
}
html,body{
    width: 100%;
    height: 100%;

}
.header-container{
    box-shadow: 0 2px 4px 0px rgb(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-inline: 24px;
    max-width: 1500px;
    margin-inline: auto;
}
.them-change{
    cursor: pointer;
    border-radius: 50%;

}
#toggle-dark-mode {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px;
  }
.fa-regular{
    fill:var(--pr)

}
.countries-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;

}
form{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin-top: 20px;
    margin-inline: 30px;
}
input{
    outline: none;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid gray;
}
.country-card{
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgb(0,0,0,0.2);
    padding: 10px;

}
.country-card img{
    width: 100%;
}
a{
    text-decoration: none;
    color:inherit;
}
select{
padding: 10px;
border-radius: 10px;
outline: none;
   
}
